*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
 
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px 10px 10px black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px
}
#button1 {
  margin-top: 10px
}
button:last-child {
  margin-top: 40px;
}

.form-group {
  margin-bottom: 1em; /* Add spacing between label-input pairs */
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input {
  width: 100%; /* Make the input box full width */
  padding: 0.5em;
  box-sizing: border-box;
}
/* Box holding items */
 #movie-list { 
  margin-top: 3rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: column;
  overflow:auto;
  width: 50rem;
  height: 30rem;
  box-shadow: 5px 5px 10px 10px black;
  gap: 1rem;
  


}

.movies {
  display: flex;
  flex-wrap: wrap;

justify-content: space-around;
align-items: center;
}

#app {
 
  
  justify-content: center;
  flex-wrap: wrap;
  
}
#new-movie-form {
  width:20rem;
  
  
}

/* Each Movie */
.movie-list-item {
  box-shadow: 5px 5px 10px 10px black;
  text-align: left
  
}

.graph{ 
  padding: 50px;
}

#pieChart, #barChart, #scatterPlot{
  width:80%;
  max-height: 800px;
  margin:auto;
}
#me{
  text-align: center;
  margin-top: 20px;
}
/* #face {
  display: flex;
  flex-direction: row;
} */
#reset-button {
  width: 200px;
  margin: 0 auto
}